* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

.navbar {
    margin: auto;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    background-color: aliceblue;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 150px;
}

.menu nav ul li {
    list-style-type: none;
    text-decoration: none;
    padding-right: 20px;
    font-size: 17px;
    font-weight: 700;
    color: rgb(80, 78, 78);
    position: relative;
    transition: background-color 2s;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu nav ul li a{
    text-decoration: none;
    color:rgb(80, 78, 78); ;
}

.Quick-Enquiry {
    padding: 8px 20px;
    border-radius: 20px;
    font-size: large;
    color: #46B34B;
    font-weight: 700;
    border: 2px solid #46B34B;
    transition: background-color 2s, color 1s;
    cursor: pointer;
}

.Quick-Enquiry:hover {
    background-color: #46B34B;
    color: #fff;
}

.menu nav ul li a:hover{
    color: #46B34B;
}
.menu nav ul li:hover .line{
    width: 100%;
}
.line {
    /* width: 50px; */
    height: 2px;
    background-color: #45b34a;
    position: absolute;
    margin-top: 20px;
    width:0px;
    margin-left: -10px;
    transition: width 0.4s;    
}
.open-icon,.close-icon
{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    display: none
}
@media(max-width:1100px)
{
    .open-icon,.close-icon
    {display: block;
    z-index: 99;}
    
    .menu{
        position: fixed;
        left: 0;
        top: 100px;
        border: 2px solid black;
        display: none;
        
    }
    .menu ul{
        flex-direction: column;
        padding: 0px 20px ;
    }
    .menu ul li {
        margin-top: 10px;
    }


}
